<br/><br/><div class="w3-container w3-teal">
  <h2>SignUp Form</h2>
</div>
<br/>
<form class="w3-container" action="/api/user/index/create">
  <label class="w3-label w3-text-teal"><b>Username</b></label>
  <input class="w3-input w3-border w3-light-grey" type="text" name="user">
<br/>
  <label class="w3-label w3-text-teal"><b>Password</b></label>
  <input class="w3-input w3-border w3-light-grey" type="password" name="password">
<br/>
  <label class="w3-label w3-text-teal"><b>Repeat Password</b></label>
  <input class="w3-input w3-border w3-light-grey" type="password" name="repassword">
<br/>
  <button class="w3-btn w3-blue-grey api">Register</button>
</form>
<br/><br/>
